.credo
    width: 100vw
    height: 100vh
    background-image: url('../Assets/img/Jesus_Nazareno.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    display: flex
    flex-direction: column
    align-items: end
    padding-right: 50px
.Credo_Container
    width: 50vw
.Titulo_Credo
    align-self: center
    font-family: $titulos
    font-size: 60px
    color: gray
    text-align: center
.Descripcion_Credo
    color: white
    font-family: $Credo
    font-size: 40px
    text-align: center
@media screen and (max-width:480px) 
    .credo
        background-position: left
        align-items: center
        padding-right: 0
    .Credo_Container
        width: 100vw  
    .Descripcion_Credo
        font-size: 25px
        color: white
        -webkit-text-stroke: 1px none
