.credo
    width: 100vw
    height: 100vh
    background-image: url('../Assets/img/Jesus_Nazareno.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: flex-end
    padding-right: 50px
.Credo_Container
    width: 50vw
.Titulo_Credo
    align-self: center
    font-family: $titulos
    font-size: 60px
    color: gray
    text-align: center
.Descripcion_Credo
    color: white
    font-family: $Credo
    font-size: 1.5rem
    text-align: justify
@media screen and (max-width:480px) 
    .credo
        background-image: url('../Assets/img/jesus.jpg')
        align-items: center
        padding-right: 0
    .Credo_Container
        width: 100vw  
    .Descripcion_Credo
        padding: 20px
        font-size: 1.40rem
        color: black
        -webkit-text-stroke: 1px white
