@font-face 
    src: url('../Assets/Fonts/rocket_wildness/rocket_wildness.ttf')
    font-family: 'Rocket_wildness'
@font-face 
    src: url('../Assets/Fonts/jmh_typewriter/JMH_Typewriter-Thin.ttf')
    font-family: 'typewiter'
@font-face 
    src: url('../Assets/Fonts/veteran_typewriter/veteran_typewriter.ttf')
    font-family: 'veteran_typewriter'
@font-face 
    src: url('../Assets/Fonts/santanelli/santanelli.otf')
    font-family: 'santanelli'
@font-face 
    src: url('../Assets/Fonts/xelita/Xelita.ttf')
    font-family: 'Xelita'
@font-face 
    src: url('../Assets/Fonts/capsuula/Capsuula.ttf')
    font-family: 'Capsuula'