@font-face 
    src: url('../Assets/Fonts/power_rangers/Power_Rangers.ttf')
    font-family: 'Power-Ranges'
    
@font-face 
    src: url('../Assets/Fonts/ac_ab/AC_AB.ttf')
    font-family: 'AC_BC'
@font-face 
    src: url('../Assets/Fonts/pamela/pamela.ttf')
    font-family: 'Pamela'   