.Principio_Fundamento
    height: 100vh
    width: 100vw
    background-image: url('../Assets/img/Amor_a_Dios.jpg')
    background-repeat: no-repeat
    background-size: cover
    display: flex
    flex-direction: column
    align-items: end
    padding-right: 50px
.Principio_Fundamento_Container
    