html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

hr {
  height: 3px;
  width: 80%;
  background-color: red;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

@font-face {
  src: url("../Assets/Fonts/rocket_wildness/rocket_wildness.ttf");
  font-family: 'Rocket_wildness';
}

@font-face {
  src: url("../Assets/Fonts/jmh_typewriter/JMH_Typewriter-Thin.ttf");
  font-family: 'typewiter';
}

@font-face {
  src: url("../Assets/Fonts/veteran_typewriter/veteran_typewriter.ttf");
  font-family: 'veteran_typewriter';
}

@font-face {
  src: url("../Assets/Fonts/santanelli/santanelli.otf");
  font-family: 'santanelli';
}

@font-face {
  src: url("../Assets/Fonts/xelita/Xelita.ttf");
  font-family: 'Xelita';
}

@font-face {
  src: url("../Assets/Fonts/capsuula/Capsuula.ttf");
  font-family: 'Capsuula';
}

.Caratula {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-image: url("../Assets/img/Progra.jpg");
  background-position: center;
  background-size: cover;
}

.div_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Titulo {
  text-decoration: none;
  line-height: 9rem;
  -webkit-text-stroke: 2px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: white;
  text-align: center;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 80px;
  -webkit-animation: arrow__move 3s infinite;
          animation: arrow__move 3s infinite;
}

.arrow__color {
  font-size: 800%;
  font-size-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 480px) {
  .Titulo {
    line-height: 7rem;
    font-size: 2rem;
  }
  .arrow {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@-webkit-keyframes arrow__move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrow__move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.Menu {
  height: 100vh;
  width: 100vw;
  background-image: url("../Assets/img/Exosfera.jpg");
  background-size: cover;
}

.Lista_Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-item {
  display: block;
  margin-bottom: 20px;
  font-size: 2rem;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-text-stroke: 1px black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .Menu {
    height: 100%;
  }
  .list-item {
    font-size: 35px;
    margin-bottom: 25px;
  }
}

.Mision {
  width: 100vw;
  height: 100vh;
  background-image: url("../Assets/img/Termosfera.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  width: 40vw;
  height: 28rem;
  margin-left: 5vw;
  margin-right: 5vw;
  border: 5px outset black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.card:first-child {
  border: 5px inset black;
}

.card_header {
  text-align: center;
  font-family: "veteran_typewriter", Arial;
  color: #d91115;
  font-size: 3rem;
  border-bottom: 3px dashed black;
}

.card_body {
  padding: 5px 20px 20px 20px;
}

.card_description {
  text-align: center;
  font-family: "Rocket_wildness", Arial;
  font-size: 1.1rem;
  text-align: justify;
  color: black;
}

.card:hover {
  -webkit-box-shadow: 2px 2px 2px 5px  blue, -2px -2px 2px 5px  red;
          box-shadow: 2px 2px 2px 5px  blue, -2px -2px 2px 5px  red;
}

@media screen and (max-width: 480px) {
  .Mision {
    height: 100%;
  }
  .card_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card {
    width: 90vw;
    height: 300px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .card_header {
    font-size: 20px;
  }
  .card_description {
    font-size: 0.75rem;
  }
}

.credo {
  width: 100vw;
  height: 100vh;
  background-image: url("../Assets/img/Jesus_Nazareno.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 50px;
}

.Credo_Container {
  width: 50vw;
}

.Titulo_Credo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "veteran_typewriter", Arial;
  font-size: 60px;
  color: gray;
  text-align: center;
}

.Descripcion_Credo {
  color: white;
  font-family: "santanelli", "Arial";
  font-size: 1.5rem;
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .credo {
    background-image: url("../Assets/img/jesus.jpg");
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
    height: 100%;
  }
  .Credo_Container {
    width: 100vw;
  }
  .Descripcion_Credo {
    padding: 20px;
    font-size: 1.40rem;
    color: black;
    -webkit-text-stroke: 1px white;
  }
}

.Principio_Fundamento {
  height: 100vh;
  width: 100vw;
  background-image: url("../Assets/img/Amor_a_Dios.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-right: 50px;
}

.Principio_Fundamento_Container {
  padding: 20px;
  width: 45vw;
  text-align: center;
}

.TitutloDescipcion {
  font-family: 'veteran_typewriter';
  font-size: 35px;
}

.Descripcion {
  font-size: 25px;
  color: black;
  font-family: 'typewiter';
}

@media screen and (max-width: 480px) {
  .Principio_Fundamento {
    background-position: center;
    height: 100%;
  }
  .Principio_Fundamento_Container {
    width: 100vW;
  }
  .Descripcion {
    font-size: 20px;
  }
}

.Foda {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eeedeb;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.foda_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Letter-container {
  margin: 2rem;
  overflow-x: hidden;
}

.img-Letra {
  height: 17rem;
  width: 15rem;
}

.img-Letra:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

button {
  margin: 20px;
  background-color: #6e0505;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.Titulo_Modal {
  margin: 0;
  font-family: "veteran_typewriter", Arial;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}

.Table {
  border: 3px groove gray;
}

.Table tr th {
  border: 2px ridge black;
}

.TITULOS_TABLA {
  background-color: #f02626;
  font-family: "Xelita", "Arial";
  font-size: 2rem;
}

.Descripcion_tabla {
  background-color: blue;
  font-family: "Capsuula", "Arial";
  font-size: 1.35rem;
  color: white;
}

@media screen and (max-width: 480px) {
  .Foda {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foda_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Ejes {
  width: 100vw;
  height: 100vh;
  background-image: url("../Assets/img/JHS.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Ejes_Container {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display-flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Eje {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 1rem;
  border: 5px dashed black;
  border-radius: 20px;
  height: 100%;
  margin: 1.5rem;
  width: 30vw;
}

.Titulo_eje {
  background-color: Red;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-text-stroke: 1px black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.Descripcion-eje {
  font-family: "Capsuula", "Arial";
}

@media screen and (max-width: 480px) {
  .Ejes {
    height: 100%;
  }
  .Ejes_Container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .Eje {
    margin: 0;
    margin-top: 3rem;
    width: 100vw;
  }
}

.Formato_De_Vida {
  background-image: url("../Assets/img/Espacio.gif");
  background-position: center;
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Table_life_Format {
  border: 3px dashed white;
  margin-bottom: 5rem;
}

.Description_table {
  border: 4px dotted gray;
  color: white;
  background-color: rgba(0, 0, 255, 0.5);
  font-family: "Capsuula", "Arial";
  padding: 15px;
}

.Title_table {
  border: 4px double gray;
  color: white;
  font-family: "Xelita", "Arial";
}

@media screen and (max-width: 480px) {
  .Table_life_Format {
    display: block;
    overflow-x: auto;
    width: 100%;
  }
}

.Reflexion {
  height: 100vh;
  width: 100vw;
  background-image: url("../Assets/img/Reflexion.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.descripcion_Reflexion {
  padding: 3rem;
  font-family: "Capsuula", "Arial";
  color: black;
  -webkit-text-stroke: 1px white;
  font-size: 2.5rem;
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .descripcion_Reflexion {
    padding: 1.50rem;
    font-size: 2rem;
  }
}

.Rubricas {
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  background-image: radial-gradient(circle, red, blue);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.autoevaluacion {
  margin: 2rem;
}

.Footer {
  width: 100vw;
  border-top: 2px solid black;
  background-color: #004a9e;
  background-color-padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Footer p {
  font-size: 2rem;
  font-family: "Capsuula", "Arial";
}

.anexos {
  width: 100vw;
  height: 100vh;
  background-image: url("../Assets/img/Xela.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.anexos_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Img_Anexos {
  max-width: 20vw;
  margin: 5rem;
}

.image h1 {
  font-family: "veteran_typewriter", Arial;
  color: white;
}

@media screen and (max-width: 480px) {
  .image h1 {
    font-size: 1rem;
  }
  .Img_Anexos {
    margin: 1rem;
  }
  .anexos_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */