html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

hr {
  height: 3px;
  width: 80%;
  background-color: red;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

@font-face {
  src: url("../Assets/Fonts/power_rangers/Power_Rangers.ttf");
  font-family: 'Power-Ranges';
}

@font-face {
  src: url("../Assets/Fonts/ac_ab/AC_AB.ttf");
  font-family: 'AC_BC';
}

.Caratula {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-image: url("../Assets/img/Progra.jpg");
  background-position: center;
  background-size: cover;
}

.div_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Titulo {
  text-decoration: none;
  line-height: 10rem;
  -webkit-text-stroke: 2px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .Titulo {
    line-height: 7rem;
    font-size: 40px;
  }
}

.Menu {
  height: 100vh;
  width: 100vw;
  background-image: url("../Assets/img/Exosfera.jpg");
  background-size: cover;
}

.Lista_Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-item {
  display: block;
  margin-bottom: 20px;
  font-size: 40px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-text-stroke: 1px black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .list-item {
    font-size: 35px;
    margin-bottom: 25px;
  }
}

.Mision {
  width: 100vw;
  height: 100vh;
  background-image: url("../Assets/img/Termosfera2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  width: 40vw;
  height: 530px;
  margin-left: 5vw;
  margin-right: 5vw;
  border: 5px outset black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.card:first-child {
  border: 5px inset black;
}

.card_header {
  text-align: center;
  font-family: "Power-Ranges", Arial;
  color: #d91115;
  font-size: 50px;
  border-bottom: 3px dashed black;
}

.card_body {
  padding: 20px;
}

.card_description {
  text-align: center;
  font-family: "AC_BC", Arial;
  font-size: 30px;
  text-align: justify;
}

.card:hover {
  -webkit-box-shadow: 2px 2px 2px 5px  blue, -2px -2px 2px 5px  red;
          box-shadow: 2px 2px 2px 5px  blue, -2px -2px 2px 5px  red;
}

@media screen and (max-width: 480px) {
  .card_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card {
    width: 90vw;
    height: 300px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .card_header {
    font-size: 20px;
  }
  .card_description {
    font-size: 15px;
  }
}

.credo {
  width: 100vw;
  height: 100vh;
  background-image: url("../Assets/img/JesusNazareno.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-right: 50px;
}

.Credo_Container {
  width: 50vw;
}

.Titulo_Credo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Power-Ranges", Arial;
  font-size: 60px;
  color: gray;
  text-align: center;
}

.Descripcion_Credo {
  font-family: "AC_BC", Arial;
  font-size: 40px;
}

@media screen and (max-width: 480px) {
  .credo {
    background-position: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
  }
  .Credo_Container {
    width: 100vw;
  }
}
/*# sourceMappingURL=index.css.map */